h2{
    text-align: center;
}
.data{
    margin-top: 5vh;
}
.info{
    text-align: center;
    background: lightblue;
    border:3px solid whitesmoke;
    font-size: 1.3em;
    border-radius: 10px;
}
.btn-info{
    margin-left:43%;
    margin-right: 43%;
}
.righter{
    margin-left:14%;
}
#photo{
    visibility: hidden;
}
#photo-click{
    border: 1px transparent;
    border-radius: 20px;
}
#photo-click:hover{
    background: rgba(100,150,60,0.4);
}
#delPhotoBtn{
    opacity: 0.7;
    position: relative;
    top:-13vh;
    left: 90%;
}
#delPhotoBtn:hover{
    opacity: 0.9;
}