#main-text{
    font-family: "Apple Chancery";
    color:steelblue;
    font-size: 10em;
}
.to-middle{
    margin-top: -2%;
    margin-left:25%;
    margin-right: 25%;
    animation: moveUp;
    animation-duration: 1.5s;
}
@keyframes moveUp{
    from {margin-top: 10%;}
    to {margin-top:-2%;}
}
body{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cb60b3+0,c146a1+50,a80077+51,db36a4+100;Pink+Gloss */
    background: lightgray;
}
.card-text{
    color:white;font-size: 3em;margin-top:25%; text-shadow: 2px 2px 2px #000;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#party{
    background: url("../images/party.jpg");
    background-size: cover;
    -webkit-background-size:cover;

}
#organise{
    background: url("../images/organise.jpg");
    background-size: cover;
    -webkit-background-size:cover;
}
.image-card{
    border: 5px solid rgba(100,100,100,0.5);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    height: 50vh;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.image-card:hover{
    height: 52vh;
    box-shadow: 0px 0px 10px 4px steelblue;
}