#main-text{
    font-family: "Apple Chancery";
    color:steelblue;
    font-size: 5em;
    margin-left:30%;
}
#organiser{
    color:lightblue;
}
#organiser:hover ~ #org-button{
    visibility: visible;
    
}
#org-button:hover{
   visibility: visible;

}
#org-button{
    visibility: hidden;
    transition: visibility 0.2s;
}
#org-button:hover button{
    visibility: visible;
}
#left-pane{
    border-right: 5px dotted black;

}
#description{
    text-align: center;
    font-size: 1.3em;
    padding-left: 10%;
    padding-right: 10%;
}
